# MacOS 
.DS_Store

# Node
node_modules

# Docker related
.docker
.dockerignore

# Environment files
.env.example
.env.local

# Git related
.git
.github
.gitignore

# Documentation
README.md

# Configuration files
docker-compose.yml
fly.toml
