AUTH_USER=
AUTH_PASS=

JWT_SECRET=

OAUTH_GOOGLE_CLIENT_ID=
GOOGLE_EMAILS_WHITELIST=

OAUTH_GOOGLE_CLIENT_ID=

SUPER_ADMIN_NAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PICTURE=

GROWATT_URL=https://openapi.growatt.com/v4/new-api
GROWATT_TOKEN=

DEVICE_SN=
DEVICE_TYPE=storage

API_KEYS_WHITELIST=

CACHE_TTL=300

LOG_LEVEL=info
